<div class="container">
  <div class="container-content">
    <h1>Login</h1>
    <form class="login-container" [formGroup]="form" (submit)="submit()">
      <label for="email">Email</label>
      <input
        formControlName="email"
        type="email"
        name="email"
        class="email"
        placeholder="Enter Email"
      />
      <label for="password">Password</label>
      <input
        formControlName="password"
        type="password"
        name="password"
        class="password"
        placeholder="Enter Password"
      />
      <button type="submit" class="submit-btn">Login</button>
    </form>
  </div>
</div>
