.main {
  /* position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 125px 0 50px;
  gap: 30px;
}

/* Media Queries */
@media (max-width: 1200px) {
  .main {
    flex-direction: column;
    padding-top: 20px;
  }
  .container-left {
    margin-bottom: 20px;
  }
}

@media (max-width: 550px) {
  .main {
    gap: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .left {
    transition: ease-in-out;
    transform: scale(0.8);
  }
  .container-left {
    transition: ease-in-out;
    transform: scale(0.8);
    margin-bottom: 0;
  }
  .right {
    transition: ease-in-out;
    transform: scale(0.8);
  }
  .container-right {
    transition: ease-in-out;
    transform: scale(0.8);
  }
}
/* Media Queries */

/* Headlines */
.name {
  font-size: 30px;
  font-family: var(--bold);
  color: var(--textColor);
}

/* Numbers */
.val {
  font-size: 32px;
  font-family: var(--bold);
}

.main-val {
  font-size: 44px;
}

.value-div {
  display: flex;
  justify-content: space-between;
  width: fit-content;
  gap: 30px;
  margin: 10px 0;
  height: 40px;
  align-items: center;
  font-family: var(--bold);
}

/* change value */
.change {
  background-color: var(--lightGreen);
  color: var(--green);
  width: 60px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-size: 15px;
}
.provision-change {
  width: 90px;
}

/* left side */

.container-left {
  background-color: var(--white);
  border-radius: 25px;
  padding: 25px 20px;
  width: 500px;
}

.date-container {
  margin-bottom: 102px;
  margin-top: 20px;
  display: flex;
  gap: 60px;
}

.date-container label {
  color: grey;
  font-family: var(--light);
}

.date-container input {
  display: flex;
  margin-top: 10px;
  color: var(--textColor);
  border-radius: 10px;
  width: 170px;
  padding: 10px;
  border: 1px solid lightgray;
}

.date-container input:active {
  border: 1px solid var(--textColor);
}

.date-container input::-webkit-datetime-edit-month-field {
  margin-left: 30px;
  padding: 2px 0;
}

.date-container input::-webkit-calendar-picker-indicator {
  color: var(--textColor);
  cursor: pointer;
  position: absolute;
  left: 1;
  top: 1;
  border-right: 1px solid lightgray;
  width: 25px;
  padding: 12px 0;
}

/* left side */


/* right side */
.sub-container {
  background-color: var(--white);
  border-radius: 25px;
  padding: 15px 20px;
  width: 500px;
}

.sub-middle {
  margin: 32px 0;
}
/* right side */
