.main {
  display: flex;
  gap: 30px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

/* Media Queries */
@media (max-width: 1200px) {
  .main {
    flex-direction: column;
    top: 60%;
  }
  .container-left {
    margin-bottom: 20px;
  }
}

@media (max-width: 450px) {
  .main {
    margin: 0 auto;
    top: 50%;
  }
  .left {
    transform: scale(0.8);
  }
  .container-left {
    transform: scale(0.8);
    margin-bottom: 0;
  }
  .right {
    transform: scale(0.8);
  }
  .container-right {
    transform: scale(0.8);
  }
}
/* Media Queries */

/* Headlines */
.name {
  font-size: 30px;
  font-family: var(--bold);
  color: var(--textColor);
}

/* Numbers */
.val {
  font-size: 30px;
  font-family: var(--bold);
}

.main-val {
  font-size: 42px;
}

.value-div {
  display: flex;
  justify-content: space-between;
  padding-right: 180px;
  margin: 10px 0;
  height: 40px;
  align-items: center;
  font-family: var(--bold);
}

/* change value */
.change {
  background-color: var(--lightGreen);
  color: var(--green);
  border-radius: 20px;
  padding: 4px 10px;
  font-size: 14px;
}

.last-change {
  margin-right: 130px;
}

/* left side */
.left {
  height: 100%;
}
.container-left {
  background-color: var(--white);
  border-radius: 25px;
  padding: 25px 20px;
  width: 500px;
}

.date-container {
  margin-bottom: 100px;
  margin-top: 20px;
  display: flex;
  gap: 60px;
}

.date-container label {
  color: grey;
  font-family: var(--light);
}

.date-container input {
  display: block;
  margin-top: 10px;
  color: var(--textColor);
  padding: 10px;
  border-radius: 10px;
  border: 1px solid lightgray;
}

.date-container input:active {
  border: 1px solid var(--textColor);
}

.date-container input::-webkit-calendar-picker-indicator {
  color: var(--textColor);
  cursor: pointer;
}

/* left side */

/* right side */

.right {
  height: 100%;
}
.sub-container {
  background-color: var(--white);
  border-radius: 25px;
  padding: 15px 20px;
  width: 500px;
}

.sub-middle {
  margin: 30px 0;
}
/* right side */
