<div class="main">
  <!-- Left Side -->
  <div class="left">
    <div class="container-left">
      <div class="total">
        <p class="name">Gesamtanzahl der Verkäufe</p>
        <div class="value-div">
          <p class="val main-val">1.233.345</p>
          <div class="change">+ 20</div>
        </div>
      </div>

      <div class="provision">
        <p class="name">Provision</p>
        <div class="value-div">
          <p class="val">2.544,32€</p>
          <div class="change">+ 72,49€</div>
        </div>
      </div>

      <div class="date-container">
        <div class="date-left">
          <label for="start">Von:</label>
          <input type="month" name="start" value="2021-09" min="2019-01" />
        </div>

        <div class="date-right">
          <label for="end">Bis:</label>
          <input type="month" name="end" value="2022-09" min="2019-01" />
        </div>
      </div>
    </div>
  </div>

  <!-- right side -->
  <div class="right">
    <div class="container-right">
      <div class="sub-container">
        <p class="name">Händler Anzahl</p>
        <p *ngIf="totalMerchants" class="val">{{totalMerchants.merchants.totalElements}}</p>
      </div>
      <div class="sub-container sub-middle">
        <p class="name">Produkte im Katalog</p>
        <p class="val">473.876</p>
      </div>
      <div class="sub-container">
        <p class="name">Accounts</p>
        <div class="value-div">
          <p *ngIf="accounts" class="val">{{accounts.total}}</p>
          <div class="change last-change">+ 1</div>
        </div>
      </div>
    </div>
  </div>
</div>
