<div class="main">
  <!-- Left Side -->
  <div class="left">
    <div class="container-left">
      <div *ngIf="sales" class="total">
        <p class="name">Gesamtanzahl der Verkäufe</p>
        <div class="value-div">
          <p  class="val main-val">{{sales.checkoutEventList[0].items[0].quantity}}</p>
          <div class="change">+ 20</div>
        </div>
      </div>

      <div class="provision">
        <p class="name">Provision</p>
        <div class="value-div">
          <p *ngIf="sales" class="val">{{sales.monthlyProvisionSalesValue}}€</p>
          <div class="change">+ 72,49€</div>
        </div>
      </div>

      <div class="date-container">
        <div class="date-left">
          <label for="start">Von:</label>
          <input [(ngModel)]="beginMonth" (change)="getListofSales()" type="month" name="start" value="beginMonth" min="2021-09" />
        </div>

        <div class="date-right">
          <label for="end">Bis:</label>
          <input [(ngModel)]="endMonth" (change)="getListofSales()" type="month" name="end" value="endMonth" min="2021-09" />
        </div>
      </div>
      
    </div>
  </div>

  <!-- right side -->
  <div class="right">
    <div class="container-right">
      <div class="sub-container">
        <p class="name">Händler Anzahl</p>
        <p *ngIf="totalMerchants" class="val">{{totalMerchants.merchants.totalElements}}</p>
      </div>
      <div class="sub-container sub-middle">
        <p class="name">Produkte im Katalog</p>
        <p *ngIf="totalProducts" class="val">{{totalProducts.products.totalElements}}</p>
      </div>
      <div class="sub-container">
        <p class="name">Accounts</p>
        <div class="value-div">
          <p *ngIf="accounts" class="val">{{accounts.total}}</p>
          <div class="change last-change">+ 1</div>
        </div>
      </div>
    </div>
  </div>
</div>
