<main>
    <div class="container-left">
        <div class="total">
            <p class="heading main-heading">Gesamtanzahl der Verkäufe</p>
            <p class="value main-value">1.000.000</p>
            <div class="change">
                <p class="change-value">+ 20</p>
            </div>
        </div>    

        <div class="provision">
            <p class="heading">Provision</p>
            <p class="value">2.500,55€</p>
            <div class="change">
                <p class="change-value">+ 72,49€</p>
            </div>
        </div>

        <div class="date-picker">
            <div>
                <label for="firstDate">Von:</label>
                <input type="date" name="firstDate">
            </div>
            
            <div>
                <label for="secondDate">Bis:</label>
                <input type="date" name="secondDate">
            </div>
            
        </div>
    </div>

    <div class="container-right">
        <div class="sub-container">
            <p class="heading">Händler Anzahl</p>
            <p class="value">90</p>
        </div>
        <div class="sub-container">
            <p class="heading">Produkte im Katalog</p>
            <p class="value">470.000</p>
        </div>
        <div class="sub-container">
            <p class="heading">Accounts</p>
            <p class="value">2300</p>
            <div class="change">
                <p class="change-value">+ 1</p>
            </div>
        </div>
    </div>
</main>