.container {
  background-image: url(../assets/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

@media (max-width: 1200px) {
  .container {
    height: 140vh;
  }
}

@media (max-width: 550px) {
  .container {
    height: 125vh;
    width: 100%;
  }
}
